/*-----------common styles------------*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
/*-------------banner styles------------------ */
.half-width .left {
  border-left: 5px solid #ff5959;
  border-radius: 5px;
}
.y-y {
  font-family: "Poppins", sans-serif;
  font-family: "Yeseva One";
  font-size: 60px;
  line-height: 50px;
  padding-left: 15px;
}
.orange-color {
  color: #ffad5a;
}
.d-details {
  font-size: 18px;
  line-height: 28px;
  color: #3e3e3e;
}

.flexible-container {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-color: #ff5959;
  color: white;
  font-weight: 500;
  padding: 10px 40px;
  border-radius: 5px;
}
/*-------------my mission------------------ */

.my-m {
  color: #13103a;
  font-weight: bold;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
}
.my-mission {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.m-m {
  width: 360px;
  height: 420px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  margin: 23px;
  border-radius: 25px;
  text-align: left;
  background-color: #fff4d6;
}
.m-m img {
  width: 141px;
  height: 141px;
  border-image-slice: 1;
  border-radius: 15px;
  padding-top: 5%;
  border-image-width: 2%;
}
/*-------------develop ------------------ */
.develop-limits {
  background-image: url(images/shapes/shape-4.png);
  background-repeat: no-repeat;
  background-position: left;
}
.develop-limits {
  padding-left: 20px;
  padding-right: 85px;
}

.develop-h {
  font-size: 36px;
  line-height: 44px;
}
/*-------------know------------------ */

.global-community {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: right;
}
/*-------------Neptune----------------- */

/* .neptune-by {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
} */
.neptune-by img {
  height: 700px;
}
.neptune-by {
  margin-top: 100px;
  padding-left: 25px;
  padding-right: 85px;
}

.neptune-h {
  font-size: 36px;
  line-height: 44px;
}
/*-------------footer------------------ */
.footer-f {
  text-align: center;
  background-color: #0b0d17;
}

.foot-f {
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Yeseva One", cursive;
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  font-style: italic;
  /* line-height: 24px; */
  width: 1440px;
  height: 50px;
  padding-top: 57px;
  padding-left: 47px;
}
.foot-s {
  color: #ff5959;
}
.foot-p {
  color: #d9dbe1;
  padding-bottom: 77px;
  margin: 0;
}
